<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<body style="text-align: center; padding-top: 100px">
<div style="padding-bottom: 15px; text-decoration: underline">Login in</div>
<form action="/login" method="post">
    <div style="padding-bottom: 5px"> User Name : <input type="text" name="username"/> </div>
    <div style="padding: 0px 0px 10px 15px"> Password: <input type="password" name="password"/> </div>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}" >
    <button type="submit" class="btn btn-outline-primary" style="padding-bottom: 10px">Sign In</button>
</form>
<a href="/registration">Add new user</a>
</body>
</html>